$primary-color: #2196f3;
$secondary-color: #a0b0b9;
$text-color: #4a4a4a;
$light-gray: #d9d9d9;
$error-color: #a92424;
$success-color: #8bc34a;

$title-size-l: 4rem;
$title-size-m: 3.5rem;
$title-size-s: 3rem;
